// TYPOGRAPHY
body {
  color: $white-fg;
  font-family: $fonts;
}

.lower { text-transform: lowercase; }

.title {
  @extend .lower;
  font-weight: bold;
}

h1, h2 {
  @extend .title;
}

h2, h3, h4, h5, h6 {
  color: $red-fg;
}

h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  line-height: 1.25;
}

h1 {
  color: $orange-fg;
  font-size: $h1-size;
  a { @include colorize-link($orange-fg); }
}

h2 {
  font-size: $h2-size;
  margin-top: 0;
}

h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }

p {
  font-size: $p-size;
  line-height: 1.4;
}

small { font-size: $small-size; }
em { font-style: italic; }
strong { font-style: bold; }

blockquote {
  p {
    color: $quote-fg;
    font-size: $quote-size;
    font-style: italic;
    line-height: 1.5;
    padding: 10px 3.5%;
  }
}

.footer {
  @extend .lower;
  text-align: center;
  p {
    margin: 0;
    line-height: 0.85;
  }
}

a {
  @include colorize-link($green-fg);
  text-decoration: none;
}

.me {
  @extend .title;
  color: $orange-fg;
}

.sidenav {
  @extend .title;
  ul { margin: 0; }
  li { margin-bottom: 15px; }
}

.menu {
  margin-bottom: 50px;
  a { @include colorize-link($blue-fg); }
}

.social {
  a { @include colorize-link($purple-fg); }
}

.active {
  a { @include colorize-link($red-fg); }
}

.blog-stamp {
  color: transparentize($white-fg, 0.3);
  font-size: $date-size;
  font-style: italic;
  margin: 0;
}

.archive-article .content-article p { margin: 0; }


// MOBILE TYPOGRAPHY
@include at-breakpoint($mobile) {
  h1, h2 { margin: 1rem 0; }

  h1 {
    text-align: center;
    font-size: $h1-mobile-size;
  }

  h2 { font-size: $h2-mobile-size; }
  h3 { font-size: $h3-mobile-size; }
  h4 { font-size: $h4-mobile-size; }
  h5 { font-size: $h5-mobile-size; }
  h6 { font-size: $h6-mobile-size; }

  p { font-size: $p-mobile-size; }

  blockquote {
    p { font-size: $quote-mobile-size; }
  }

  .blog-stamp { font-size: $date-mobile-size; }
}


// LAYOUT
@include border-box-sizing;

.content-main { margin-bottom: $separation; }

.archive-article { margin-bottom: $separation / 2; }


// FOOTER LAYOUT
html, body, .wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  min-height: 100%;
}

.container {
  padding-bottom: $footer-height;
}

.footer {
  clear: both;
  height: $footer-height;
  margin-top: -($footer-height);
  position: relative;
}


// DESKTOP LAYOUT
@include at-breakpoint($desktop) {
  .container { @include container; }
  .head { @include span-columns(12 omega, 12); }
  .sidenav { @include span-columns(2, 12); }

  .main {
    @include span-columns(8 omega, 12);
    @include post(2);
    .content-main { margin-left: 5%; }
  }
}


// MOBILE LAYOUT
@include at-breakpoint($mobile) {
  .container { @include container; }

  .sidenav {
    .menu, .social { margin-bottom: 15px; }
    ul {
      padding: 0;
      text-align: center;
    }
    li {
      display: inline;
      margin: 0 3.5%;
    }
  }

  .footer { padding: 0 10%; }

  blockquote { margin: 0; }
}


// APPEARANCE
body { background-color: $gray-bg; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

blockquote {
  background: $quote-bg;
  border-left: 5px solid $quote-gutter-bg;
}

.post-separator {
  $separator-height: 5px;
  border: {
    top: $separator-height solid $red-fg;
    right: 0px solid $gray-bg;
    bottom: $separator-height solid $green-fg;
    left: 0px solid $gray-bg;
  }
  height: $separator-height;
  margin: $separation auto;
  min-width: 75%;
  width: 75%;
}
