// PRESET COLORS
$gray-bg:   #2E2E2E;
$orange-fg: #FFB159;
$white-fg:  #FFF4D2;
$red-fg:    #C2454E;
$green-fg:  #36B06A;
$blue-fg:   #44B5B2;
$purple-fg: #8776B8;

$code-bg: #131313;
$code-fg: #F8F8F2;

$code-gutter-bg: #474747;


// MIXINS
@mixin colorize-link($color, $amount: 10%) {
  color: $color;
  &:hover { color: darken($color, $amount); }
}


// FONTS
$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-fonts: "Bitstream Vera Sans Mono", "Monaco", Consolas, Courier, monospace;


// FOOTER
$footer-height-constant: 2;
$footer-height: #{$footer-height-constant}em;
$footer-padding: percentage($footer-height-constant/100);
