// COLORS
$gray-bg:   #2E2E2E;
$orange-fg: #FFB159;
$white-fg:  #FFF4D2;
$red-fg:    #C2454E;
$green-fg:  #36B06A;
$blue-fg:   #44B5B2;
$purple-fg: #8776B8;

$code-bg: darken($gray-bg, 12.5%);
$code-fg: lighten($white-fg, 10%);
$code-gutter-bg: lighten($gray-bg, 10%);

$quote-bg: darken($gray-bg, 7.5%);
$quote-fg: transparentize($white-fg, 0.25);
$quote-gutter-bg: transparentize($white-fg, 0.5);


// MIXINS
@mixin colorize-link($color, $amount: 10%) {
  color: $color;
  &:hover { color: darken($color, $amount); }
}


// FONTS
$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-fonts: "Bitstream Vera Sans Mono", Monaco, Menlo, Consolas, Courier, monospace;


// FONT SIZES
$h1-size: 4rem;
$h2-size: 2.5rem;
$h3-size: 1.7rem;
$h4-size: 1.3rem;
$h5-size: 1.1rem;
$h6-size: 0.9rem;
$p-size:  1.1rem;
$small-size: 0.8rem;
$code-size: 1rem;
$code-block-size: 0.85rem;
$quote-size: 0.95rem;
$date-size: 0.9rem;

$h1-mobile-size: 3.25rem;
$h2-mobile-size: 2rem;
$h3-mobile-size: 1.4rem;
$h4-mobile-size: 1.2rem;
$h5-mobile-size: 1rem;
$h6-mobile-size: 0.9rem;
$p-mobile-size: 1rem;
$small-mobile-size: 0.8rem;
$code-mobile-size: 0.9rem;
$code-block-mobile-size: 0.6rem;
$quote-mobile-size: 0.8rem;
$date-mobile-size: 0.75rem;


// LINE HEIGHTS
$h-line-height: 1.25;
$p-line-height: 1.4;
$code-line-height: 1.25;
$quote-line-height: 1.5;
$footer-line-height: 0.85;


// LAYOUT
$separation: 50px;


// FOOTER LAYOUT
$footer-height-constant: 2;
$footer-height: #{$footer-height-constant}rem;
