- wrap_layout 'layout' do
  %article
    %header
      %h3= current_article.title
      = partial 'partials/blog_stamp', locals: { date: current_article.date }
    %section.content-article
      = find_and_preserve(yield)
