%article.blog-preview-content
  %h3= link_to article.title, article
  = partial 'partials/blog_stamp', :locals => { :date => article.date }
  - full ||= false
  %p= full ? article.body : article.data.preview