:root {
	--white: gray(245);
	--light-gray: gray(110);
	--gray: gray(80);
	--black: gray(50);
	--red: rgb(217, 62, 54);
	--dark-red: color(var(--red) blackness(+25%));
}

body {
	background-color: var(--white);
	color: var(--gray);
}

:--heading {
	color: var(--black);
}

a {
	color: var(--dark-red);

	&::after {
		background-color: var(--dark-red);
	}

	&:hover,
	&:focus {
		color: var(--red);

		&::after {
			background-color: var(--red);
		}
	}
}
