---
section: Contact
---
%h3.lower Email
-# There has to be a better way to do this
%p
  = mail_to data.site.email, 'mail <strong><em>at</em></strong> cbjohnson.info'
%h3.lower Resume
%p soon to come
-#%p= link_to 'pdf', data.site.resume_url
