---
section: info
---
%h3 name
%p cbjohnson - charles b johnson
%h3 description
%p cbjohnson is a programmer currently studying the art of web development. Given a computer with access to the internet and/or a technical ebook, cbjohnson will attempt to build neat things and probe for knowledge in order to improve his ability to to build aforementioned neat things. cbjohnson is also a versatile resource in that he can be used to dispose of delicious tacos or even burritos.