---
section: Info
---
%h3.lower Name
%p
  %span.me cbjohnson
  \- Charles B Johnson
%h3.lower Description
%p
  %span.me cbjohnson
  is a programmer currently studying the way of web development. Given a computer
  with access to the internet, he will attempt to build things and, additionally,
  probe all available resources for knowledge.
%p
  %span.me cbjohnson
  is equipped with a number of state-of-the-art human learning algorithms that
  he uses to improve his programming proficiency and the quality of his projects.
  His CPU is a neural net processor; a learning computer.
%p
  %span.me cbjohnson
  is also a versatile utility for consuming taco or burrito-based services.