---
section: info
---
%h3 name
%p cbjohnson - charles b johnson
%h3 description
%p <em>cbjohnson</em> is a programmer currently studying the way of web development. Given a computer with access to the internet, he will attempt to build things and, additionally, probe all available resources for knowledge.
%p <em>cbjohnson</em> is equipped with a number of state-of-the-art human learning algorithms that he uses to improve his programming proficiency and the quality of his projects. His CPU is a neural net processor; a learning computer.
%p <em>cbjohnson</em> is also a versatile tool for consuming taco or burrito-based services.